<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Congratulation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>

<body>
<!--<div class="container">-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-nav">
            <a href="/order/list" class="nav-link nav-item">Go to the order list</a>
        </div>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid bg-success text-dark text-center">
    <div class="container">
        <h1>CONGRATULATIONS!</h1>
    </div>
</div>
</body>
</html>
